# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Rust source files and configuration
*.rs    text diff=rust linguist-language=Rust
*.toml  text diff=toml linguist-language=TOML
Cargo.* text
rust-toolchain text

# Modern web files
*.html          text diff=html linguist-language=HTML5
*.css           text diff=css linguist-language=CSS3
*.js            text diff=javascript linguist-language=ECMAScript

# Configuration files
*.json          text linguist-language=JSON
*.yml           text linguist-language=YAML
*.yaml          text linguist-language=YAML
.editorconfig   text

# Database files
*.pdb           binary

# Binary files
*.webp          binary
*.zip           binary
*.gz            binary

# Rust specific
target/         linguist-generated=true
*.rlib          binary
*.rmeta         binary

# Documentation
*.md            text diff=markdown
docs/*          linguist-documentation
